# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/Portfolio/config/applicationhost.config
/.vs/Portfolio/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/Portfolio/FileContentIndex/4930e592-a395-4cd8-9c61-7ae2e8adcf8a.vsidx
/.vs/Portfolio/FileContentIndex/6c188b45-9780-41c4-bfd8-583751413d1e.vsidx
/.vs/Portfolio/FileContentIndex/6cac7b2e-e6cc-4385-b80c-118dd7e3cc8d.vsidx
/.vs/Portfolio/FileContentIndex/87de6d84-b394-4913-af15-6db091273e94.vsidx
/.vs/Portfolio/FileContentIndex/df1da37d-8fc6-48d8-beb1-a60af3bfa3fc.vsidx
/.vs/Portfolio/v17/DocumentLayout.json
/.vs/slnx.sqlite
/manifest.json
/public/manifest.json
/public/robots.txt
/robots.txt
